---
import { LayoutWrapper } from "../components/LayoutWrapper";
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
	isHomePage?: boolean;
}

const {
	title,
	description = "The Neural Cyclist Blog",
	isHomePage = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Canonical URL -->
		<link rel="canonical" href={Astro.url} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta
			property="og:image"
			content={new URL("/neural-hero.png", Astro.url)}
		/>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta
			property="twitter:image"
			content={new URL("/neural-hero.png", Astro.url)}
		/>

		<!-- Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXXXXXX"
		></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-XXXXXXXXXX");
		</script>
	</head>
	<body>
		<LayoutWrapper client:load isHomePage={isHomePage}>
			<slot />
		</LayoutWrapper>
	</body>
</html>
